@import '../../scss/variables.scss';

//stylesheet for About Tablet page

.AboutTablet {
  font-family: $AN-regular;
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 70px;

  .MainContent {
      width: 70%;
      a {
          color: inherit;
      }
  }
}
