@import "../../scss/variables.scss";

.Sidebar {
  width: 25%;

  ul {
    padding-inline-start: 0px;

    a {
        text-decoration: none;
        color: $grey-1;

        &:hover {
            color: $highlight-red;
        }
    }

    .active {
        color: $black;
        cursor: default;
        pointer-events: none;
        li {
            &::after {
                content: ' ' url(https://cdn1.tablethotels.com/media/ecs/global/md/react/account-nav-arrow-spaced.png);
            }
        }
    }

    li {
      font-size: 16px;
      margin-bottom: 8px;
      list-style-type: none;
      line-height: 22px;
    }
  }
}

@media only screen and (max-width: 830px) {
    .Sidebar {
        visibility: hidden;
        height: 0px;
    }
  }
